---
interface Props {
  path: string;
  title: string;
  class?: string;
}
const { path, title, class: className = "size-4" } = Astro.props;
---
<svg
  viewBox="0 0 24 24"
  fill="currentColor"
  class={className}
  aria-hidden="true"
  xmlns="http://www.w3.org/2000/svg"
>
  <title>{title}</title>
  <path d={path} />
</svg>
